{% load static %}
<html>
  <head>
    <title>dataproj</title>
  </head>
  <body>



    <filtering></filtering>
    <script type="riot/tag" src={% static "riot_tags/filter.tag" %}></script>

    <button onclick="filter_students()">Filter</button>
    <br>
    <br>
    <br>
    <students></students>
    <script type="riot/tag" src={% static "riot_tags/students.tag" %}></script>
    
    <!-- include riot.js -->
    <script src="https://cdn.jsdelivr.net/riot/3.2/riot+compiler.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src={% static "javascript/ajaxhelpers.js" %}></script>
  </body>
</html>






<script>

    var filter_form;
    var student_list;
    riot.compile(function() {
      filter_form = riot.mount('filtering')[0]
      student_list = riot.mount('students')[0]
    })
    

    var filter_students = function(){
        var form = InitializeForm();
        form.append('filters', JSON.stringify(filter_form.to_filter))
        var url = '/filterstudents/'
        var settings = getPostSettings(url, form);

        $.ajax(settings).done(function (response) {
            data = JSON.parse(response)
            console.log(data)
            student_list.students = data.students
            student_list.count = data.count
            student_list.update();
        }).fail(function (jqXHR) {
            console.log(jqXHR);
        });
    }

</script>

